@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/ProximaNovaRegular.otf') format('truetype');
}
:root {
  --green: #46BC61;
  --blue: #0074B9;
  --white: #ffffff;
  --grey: #9B9B9B;
  --lightgrey: #D8D8D8;
}
body {
	background-color: white;
    font-size: 0.875em;
    font-family: "Proxima Nova Regular";
    overflow-x: hidden !important;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

/** LABEL **/
.poweredByRAILabel {
	z-index: 999;
}
.greenBoldlLabel {
	font-weight: bold;
	color: var(--green);
}
.blueBoldLabel {
	font-weight: bold;
	color: var(--blue);
}
.viewTitleLabel {
	color: var(--blue);
	font-size: 30px;
}
.fileUploadLabel {
	width: 75px;
}
.fileStatusLabel {
	font-weight: bold;
	color: var(--blue);
}
.titledPanelLabel {
	text-align: center;
	width: 100%;
	color: var(--blue);
	font-size: 25px;
	font-weight: bold;
	border-bottom: 3px solid var(--green);
}
.titledPanelLabel-high {
	text-align: center;
	width: 100%;
	color: var(--green);
	font-size: 25px;
	font-weight: bold;
	border-bottom: 3px solid var(--blue);
}
.subTitledPanelLabel {
	color: var(--blue);
	font-size: 15px;
	font-weight: bold;
}
.infoLabel {
	font-weight: bold;
 	color: var(--blue);
}
.errorLabel {
	font-weight: bold;
 	color: red;
}
.skillsLabel {
	font-weight: bold;
	color: var(--grey);
	width: 100%;
	text-align: middle;
}
.subjectLabel {
	font-weight: bold;
	font-size: 10px;
	color: var(--blue);
}
.levelLabel {
	font-weight: bold;
	font-size: 10px;
	color: var(--green);
}
.portalTopicLabel {
	font-weight: bold;
	font-size: 25px;
	color: var(--grey);
}
.portalTopicDescriptionLabel {
	font-size: 15px;
	color: var(--grey);
}
.dashboardStudentNameLabel {
	font-size: 25px;
	font-weight: bold;
	color: #5B5B5B;	
	text-align: center;
}

/** IMAGE */
.gaugeImage {
	width: 452px;
	height: 233px;	
}

/** PANEL */
.topPanel {
	height: 75px;
	width: 100%;
	background-color: white;
	border-bottom: 2px solid var(--green);
	padding-right: 10px;
}
.loginInnerPanel {
	z-index: 1;
	color: white;
	background-color: var(--green);
	border: 3px solid var(--blue);
  	border-radius: 10px;
  	-moz-border-radius: 10px;
	width: 80%;
	max-width: 500px;
	padding: 50px;
}
.loggedinPanel {
	border-spacing: 10px;
}
.menuPanel {
	z-index: 1;
}
.leftNavigationPanel {
	width: 42px;
	height: 100%;
	background-color: var(--blue);
}
.leftNavigationGraphx {
	margin: 0px;
	cursor: pointer;
}
.centerPanel {
	width: 100%;
	height: 100%;
}
.centerPanels {
	width: 100%;
	/*height: 100%;*/
}
.presentationPanel {
	width: 100%;
	height: 80px;
	color: white;
	background-color: darkgrey;
	font-weight: bold;
	opacity: 0.75;
  	filter: alpha(opacity=75); 
}
.simpleBorderPanel-green {
	background-color: #F8F8F8;
	border: 2px solid var(--green);
  	border-radius: 10px;
  	-moz-border-radius: 10px;
}
.titledPanel {
	width: 96%;
	background-color: white;
}
.subTitledPanel-green {
	border: 2px solid var(--green);
  	border-radius: 10px;
  	-moz-border-radius: 10px;
}
.subTitledPanel-blue {
	border: 2px solid var(--blue);
  	border-radius: 10px;
  	-moz-border-radius: 10px;
}
.highTitledPanel {
	border: 2px solid var(--green);
  	border-radius: 10px;
  	-moz-border-radius: 10px;
  	width: 100%;
}
.lowTitledPanel {
	border: 2px solid var(--blue);
  	border-radius: 10px;
  	-moz-border-radius: 10px;
  	width: 100%;
}
.tabelPanel {
	border: 2px solid var(--green);
  	border-radius: 10px;
  	-moz-border-radius: 10px;
}
.bottomPanel {
	width: 100%;
	height: 25px;
	color: blue;
	background-color: white;
	font-weight: bold;
	opacity: 0.75;
  	filter: alpha(opacity=75);
}
.dialogVPanel {
  margin: 5px;
}
.lowAptitudePanel {
}
.highAptitudePanel {
}
.portalAcademicsSubjectPanel-inner {
	width: 100%;
	background-color: var(--lightgrey);
	border: 2px solid var(--lightgrey);
  	border-radius: 10px;
  	-moz-border-radius: 10px;
}

.skillsMasterPanel {
	border-left: 2px solid var(--green);
	border-right: 2px solid var(--green);	
}
.skillsPanel {
	padding: 10px;
	border-bottom: 3px solid var(--green);
}
.skillsLegendPanel {
	background-color: #F8F8F8;
	border: 2px solid var(--green);
  	border-radius: 10px;
  	-moz-border-radius: 10px;
}
.skillsLegendEntryPanel {
	width: 170px;
 	font-size: 10px;
  	color: var(--grey);
}
.subjectScorePanel {
	/*width: 100%;*/
}
.subjectScoreBarPanel {
	width: 100%;
	background-color: #F5F5F5;
}
.subjectScoreBarPanel-score-high {
	color: white;
	font-weight: bold;
	padding: 5px;
	text-align: right;
	background-color: var(--green);
}
.subjectScoreBarPanel-score-low {
	color: white;
	font-weight: bold;
	padding: 5px;
	text-align: right;
	background-color: var(--blue);
}
.learningPersonalityNavigationPanel {
	width: 50px;
	padding: 10px;
	text-align: center;
	border-right: 2px solid var(--blue);	
}
.learningPersonalityNavigationPanel-text {
	text-align: center;
	color: var(--grey);	
	width: 100%;
	padding: 10px;
	font-size: 15px;
}
.portalTopicPanel {
}
.portalAcademicsSubjectPanel {
	padding: 10px;	
}

/** TEXTBOX **/
.gwt-TextBox {
	height: 25px;
	width: 100%;
	padding: 2px;
	background: #E8F0FE;
	border-color: #CED4DA;
  	border-radius: 10px;
  	-moz-border-radius: 10px;
}
.gwt-PasswordTextBox-readonly {
 	color: #888;
}
.gwt-PasswordTextBox {
	height: 25px;
	width: 100%;
	padding: 2px;
	background: #E8F0FE;
	border-color: #CED4DA;
  	border-radius: 10px;
  	-moz-border-radius: 10px;}
.gwt-PasswordTextBox-readonly {
 	color: #888;
}

/** BUTTON */
button.gwt-Button {
  background: var(--blue);
  border: none;
  border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 10px 50px;
  font-size: 18px;
  letter-spacing: 0.8;
  color: white;
  cursor: pointer;
}
button.gwt-Button-blue-100 {
	width: 100%;
  background: var(--blue);
  border: none;
  border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 10px 50px;
  font-size: 18px;
  letter-spacing: 0.8;
  color: white;
  cursor: pointer;
}
button.gwt-Button-green {
  background: var(--green);
  border: none;
  border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 10px 50px;
  font-size: 18px;
  letter-spacing: 0.8;
  color: white;
  cursor: pointer;
}
button.gwt-Button-green-100 {
	width: 100%;
  background: var(--green);
  border: none;
  border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 10px 50px;
  font-size: 18px;
  letter-spacing: 0.8;
  color: white;
  cursor: pointer;
}
button.gwt-Button-grey {
  background: var(--grey);
  border: none;
  border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 10px 50px;
  font-size: 18px;
  letter-spacing: 0.8;
  color: white;
  cursor: pointer;
}
button.gwt-Button[selected] {
	background: red;
}
button.gwt-Button[disabled] {
	background: lightgrey;
}
.menuButton {
  background: yellow;/*var(--green);*/
  border: none;
  font-size: 10px;
  color: white;
  cursor: pointer;
}
.devButton {
	height: 40px;
	width: 40px;
}
.resourceButton {
	width: 100%;
  background: var(--blue);
  border: none;
  border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 10px 50px;
  font-size: 12px;
  letter-spacing: 0.8;
  color: white;
  cursor: pointer;
}

/** DIALOG **/
.gwt-DialogBox {
  width: 400px;
}

#closeButton {
  margin: 15px 6px 6px;
}

/** IMAGE **/
.logoImg {
	width: 90px;
	height: 50px;
	z-index: 1000;
	padding: 10px;
}
.centerImg {
	width: 100%;
	height: 100%;
  	z-index: -1;
}
.centerImgLoggedin {
	width: 100%;
	height: 100%;
  	z-index: -1;
	opacity: 0.25;
  	filter: alpha(opacity=25);
}

/** LIST **/
.listBoxServers {
	overflow: hidden;	
}
