:root {
  --green: #46BC61;
  --blue: #0074B9;
  --white: #ffffff;
}
body {
	background-color: white;
    font-size: 0.875em;
    font-family: "Proxima Nova";
    overflow-x: hidden !important;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
/** LABEL **/
.poweredByRAILabel {
	z-index: 999;
}
.greenBoldlLabel {
	font-weight: bold;
	color: var(--green);
}
.blueBoldLabel {
	font-weight: bold;
	color: var(--blue);
}
.viewTitleLabel {
	color: var(--blue);
	font-size: 30px;
}
.fileUploadLabel {
	width: 75px;
}
.fileStatusLabel {
	font-weight: bold;
	color: var(--blue);
}
.titledPanelLabel {
	color: var(--blue);
	font-size: 25px;
	font-weight: bold;
}
.subTitledPanelLabel {
	color: var(--blue);
	font-size: 15px;
	font-weight: bold;
}
.infoLabel {
	font-weight: bold;
 	color: var(--blue);
}
.errorLbl {
	font-weight: bold;
 	color: red;
}

/** PANEL */
.topPanel {
	height: 75px;
	width: 100%;
	background-color: white;
	border-bottom: 3px solid var(--green);
	/*z-index: 1;*/
	padding-right: 10px;
}
.loginInnerPanel {
	z-index: 1;
	color: white;
	background-color: var(--green);
	border: 3px solid var(--blue);
  	border-radius: 10px;
  	-moz-border-radius: 10px;
	width: 80%;
	max-width: 500px;
	padding: 50px;
}
.loggedinPanel {
	border-spacing: 10px;
}
.menuPanel {
	z-index: 1;
}
.leftNavigationPanel {
	width: 42px;
	height: 100%;
	background-color: var(--blue);
}
.leftNavigationGraphx {
	margin: 0px;
	cursor: pointer;
}
.centerPanel {
	width: 100%;
	height: 100%;
}
.centerPanels {
	width: 100%;
	/*height: 100%;*/
}
.presentationPanel {
	width: 100%;
	height: 80px;
	color: white;
	background-color: darkgrey;
	font-weight: bold;
	opacity: 0.75;
  	filter: alpha(opacity=75); 
}
.titledPanel {
	background-color: white;	
}
.subTitledPanel {
	border: 2px solid var(--blue);
  	border-radius: 10px;
  	-moz-border-radius: 10px;
}
.tabelPanel {
	border: 2px solid var(--green);
  	border-radius: 10px;
  	-moz-border-radius: 10px;
}
.bottomPanel {
	width: 100%;
	height: 25px;
	color: blue;
	background-color: white;
	font-weight: bold;
	opacity: 0.75;
  	filter: alpha(opacity=75);
}
.dialogVPanel {
  margin: 5px;
}

/** TEXTBOX **/
.gwt-TextBox {
	height: 25px;
	width: 100%;
	padding: 2px;
	background: #E8F0FE;
	border-color: #CED4DA;
  	border-radius: 10px;
  	-moz-border-radius: 10px;
}
.gwt-PasswordTextBox-readonly {
 	color: #888;
}
.gwt-PasswordTextBox {
	height: 25px;
	width: 100%;
	padding: 2px;
	background: #E8F0FE;
	border-color: #CED4DA;
  	border-radius: 10px;
  	-moz-border-radius: 10px;}
.gwt-PasswordTextBox-readonly {
 	color: #888;
}

/** BUTTON */
button.gwt-Button {
  background: var(--blue);
  border: none;
  border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 10px 50px;
  font-size: 18px;
  letter-spacing: 0.8;
  color: white;
  cursor: pointer;
}
button.gwt-Button-green {
  background: var(--green);
  border: none;
  border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 10px 50px;
  font-size: 18px;
  letter-spacing: 0.8;
  color: white;
  cursor: pointer;
}
button.gwt-Button[selected] {
	background: red;
}
button.gwt-Button[disabled] {
	background: lightgrey;
}
.menuButton {
  background: yellow;/*var(--green);*/
  border: none;
  font-size: 10px;
  color: white;
  cursor: pointer;
}

/** DIALOG **/
.gwt-DialogBox {
  width: 400px;
}

#closeButton {
  margin: 15px 6px 6px;
}

/** IMAGE **/
.logoImg {
	width: 90px;
	height: 50px;
	z-index: 1000;
	padding: 10px;
}
.centerImg {
	width: 100%;
	height: 100%;
  	z-index: -1;
}
.centerImgLoggedin {
	width: 100%;
	height: 100%;
  	z-index: -1;
	opacity: 0.25;
  	filter: alpha(opacity=25);
}

/** LIST **/
.listBoxServers {
	overflow: hidden;	
}
