body {
  font-family: "Proxima Nova" !important;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../../fonts/ProximaNovaRegular.otf");

  /* // src: url("../../fonts/ProximaNovaRegular.otf"); */
}
.rschedule {
  background-color: #0074b9;
}
.form-control {
  margin-bottom: 30px;
  border-radius: 10px;
}
.form-group ::placeholder {
  color: #0074b9;
}
.form-group h6 {
  color: #0074b9;
}
.checkbox-inline {
  text-align: left;
  color: #0074b9;
}
.btn-primary {
  padding: 10px 70px;
  background-color: #0074b9;
  border-radius: 10px;
}
.footer-bottam-text {
  line-height: 80px;
  background-color: #0074b9;
  color: white;
  font-family: "Proxima Nova";
  font-size: small;
}
.error {
  color: red;
  margin-left: 5px;
}

#buttonSubmit {
  margin: 30px 0px;
  border: none;
}
.footercontent {
  text-align: right;
  color: white;
  margin-top: 80px;
}
.checkboxdisplay {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}
.checkboxdisplay p {
  color: #0074b9;
  margin-bottom: 30px;
}
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.iframe-container > * {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.nav-item1::after {
  content: "";
  display: block;
  width: 0;
  height: 1.5px;
  /*background: #0074b9;*/
  transition: width 0.3s;
}

#navbarResponsive li {
  margin-left: 8px;
}
#navbarResponsive ul li a {
  margin-right: 20px;
}

#navbarResponsive button {
  display: inline-block;
  margin: 2% 20px;
  padding: 5px 0px;
  text-align: center;
  width: 100px;
  position: relative;
  text-decoration: none;
  letter-spacing: 0.5px;
  border-radius: 8px;
}
#navbarResponsive button {
  display: inline-block;
  margin: 2% 10px;
  padding: 5px 0px;
  text-align: center;
  width: 100px;
  position: relative;
  text-decoration: none;
  letter-spacing: 0.5px;
  border-radius: 8px;
}
.list-data
{
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
  .categories label {
    margin-left: 60px;
  }
  .categories2 label {
    margin-left: 50px;
  }
  .footercontent {
    text-align: center;
  }
  .p-within-label{
    display: inline;
  }
  
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}

.addon-select{
  position: absolute;
    left: 6px;
    height: 35px;
    top: 1px;
    background: #fff;
}
#basic-addon{
  background: #fff;
  border: none;
  z-index: 99;
}
#numUsers{
  width: 100%;
  /* padding-left: 150px; */
  border-radius: 10px;
  border: none;
}
.select-container{
  position: relative;
}
@media(min-width:767.99px){
  label.checkbox-inline.list-data.multiline-label {
    position: absolute;
    padding-top: 0px;
    padding-left: 4px;
  }
}

.col-sm-8.text-center{
  margin-top: 30px;
}
.mt-15{
  margin-top: 15px;
}